*

!.gitignore

!instancias/
!instancias/**

!resultados/
!resultados/**

!resultados_comparacion.csv
!script.py

!src/
!src/structs.cpp
!src/crossover.cpp
!src/mutacion.cpp
!src/AE.cpp

!Makefile

!readme.MD